/* .home {

} */

.welcome {
  text-decoration: none;
  color: rgb(255, 255, 255);
  font-size: x-large;
}

.toBooths {
  border-style: solid;
  border-color: white;
  border-radius: 50px;
  max-width: fit-content;
  width: 50%;
  margin: auto;
}

.toBooths:hover {
  background-color: white;
  transition: all 0.3s ease;
}

.toBooths .button {
  text-decoration: none;
  color: white;
  margin: 8px;
  font-size: large;
}

.toBooths .button:hover {
  color: #000000;
}

.downArrow {
  width: 2.5vw;
  height: 2.5vw;
}

.captionedImageContainer {
  display: flex;
  justify-content: space-evenly;
}

/* For Mobile */
@media (max-width: 850px) {
  .downArrow {
    width: 5vw;
    height: 5vw;
  }

  .captionedImageContainer {
    flex-direction: column;
  }
}