.special {
  color: white;
  width: 70vw;
  margin: auto;
}

.special .endDivider {
  height: 66vh;
}

/* For Mobile */
@media (max-width: 850px) {
  .special {
    width: 95vw;
  }

  .special .endDivider {
    height: 27vh;
  }
}