.homeBackground {
  background-image: url("../images/brownTableSofas.jpeg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100vw;
  height: 100vh;
}

.defaultBackground {
  background-color: rgb(199, 222, 174);
}