.brand {
  text-decoration: none;
  padding-left: 12px;
  font-size: xx-large;
  font-weight: bold;
}

.brandCN {
  text-decoration: none;
  padding-left: 12px;
  font-size: large;
  font-weight: bold;
}

@media (max-width: 850px) {
  .brand {
    font-size: medium;
  }

  .brandCN {
    font-size: small;
  }
}