.brand {
  padding-left: 1vw;
  font-weight: bold;
}

/* .brand:hover {
  color: red;
} */

.brand .english {
  text-decoration: none;
  font-size: xx-large;
}

.brand .chinese {
  text-decoration: none;
  font-size: large;
}

@media (max-width: 850px) {
  .brand .english {
    font-size: 95%;
  }

  .brand .chinese {
    font-size: small;
  }
}