.landscapeCaptionedImage {
  width: 35vw;
  height: 40vh;
}

.portraitCaptionedImage {
  width: 25vw;
  height: 50vh;
}

.squareCaptionedImage {
  width: 10vw;
  height: 10vw;
}

.captionedImageStyle {
  margin: 5px;
}

.captionedImageTitle {
  font-weight: bold;
  text-wrap: wrap;
}

.captionedImageDescription {
  width: 35vw;
  margin: auto;
  text-wrap: wrap;
}

@media (max-width: 850px) {
  .landscapeCaptionedImage {
    width: 70vw;
    height: 25vh;
  }
  
  .portraitCaptionedImage {
    width: 70vw;
    height: 50vh;
  }

  .captionedImageDescription {
    width: 70vw;
  }
}