.landscapeImage {
  width: 35vw;
  height: 30vh;
}

.portraitImage {
  width: 25vw;
  height: 50vh;
}

.squareImage {
  width: 10vw;
  height: 10vw;
}

.captionedImageStyle {
  margin: 5px;
}

.captionedImageTitle {
  font-weight: bold;
  text-wrap: wrap;
}

.captionedImageDescription {
  width: 35vw;
  margin: auto;
  text-wrap: wrap;
}

@media (max-width: 850px) {
  .landscapeImage {
    width: 70vw;
    height: 25vh;
  }
  
  .portraitImage {
    width: 70vw;
    height: 50vh;
  }

  .captionedImageDescription {
    width: 70vw;
  }
}