.contact {
  padding-left: 3vw;
  display: flex;
  justify-content: center;
  align-items: left;
  flex-direction: column;
}

.contactLine {
  padding: 1px;
  display: flex;
}

.addressIcon {
  padding-top: .5vh;
  width: 20px;
  height: 20px;
}

.contactIcon {
  width: 20px;
  height: 20px;
}