.contact {
  padding-left: 3vw;
  display: flex;
  justify-content: center;
  align-items: left;
  flex-direction: column;
}

.contact .container {
  padding: 1px;
  display: flex;
}

.container .phoneNumber {
  text-decoration: none;
  color: black;
}

.contact .icon {
  width: 20px;
  height: 20px;
}

/* Address, needs different CSS because its a 2 liner */
.address {
  padding: 1px;
  display: flex;
}

.address .icon {
  padding-top: .5vh;
  width: 20px;
  height: 20px;
}

.address .info {
  text-decoration: none;
}