.languageSlider {
  display: inline-block;
  cursor: pointer;
  user-select: none;
  display: flex;
  justify-content: right;
}

.languageSlider span {
  color: #666;
  transition: color 0.3s;
}

.languageSlider .labels {
  padding: 1px;
}

.labels .english {
  color: #2196F3;
}

.labels .chinese {
  color: #f00048;
}

.slider {
  position: relative;
  width: 50px;
  height: 20px;
  background-color: #e0e0e0;
  border-radius: 10px;
  transition: background-color 0.3s;
}

.slider.english {
  background-color: #2196F3;
}

.slider.chinese {
  background-color: #f00048;
}

.slider .thumb {
  position: absolute;
  width: 16px;
  height: 16px;
  background-color: white;
  border-radius: 50%;
  top: 2px;
  left: 2px;
  transition: transform 0.3s ease;
}

.slider.english .thumb {
  transform: translateX(0);
}

.slider.chinese .thumb {
  transform: translateX(30px);
}