.navBar {
  display: flex;
  list-style: none;
  padding: 8px;
}

.navItem {
  text-decoration: none;
  font-family: 'Courier New', Courier, monospace;
  font-size: large;
  font-weight: bold;
  padding: 8px;
}