.navBar {
  display: flex;
  list-style: none;
  padding: 26px;
}

.navItem {
  text-decoration: none;
  font-family: 'Courier New', Courier, monospace;
  font-size: large;
  font-weight: bold;
  padding: 24px;
}

.navItem:hover {
  text-decoration: underline;
  transition: all 0.3s ease;
  /* make the underline come in from the left and transition */
}