.navLinkImage {
  text-decoration: none;
}

.navLinkImage .square {
  width: 15vw;
  height: 15vw;
  padding: 5px;
}

/* For Mobile */
@media (max-width: 850px) {
  .navLinkImage .square {
    width: 30vw;
    height: 30vw;
    padding: 5px;
  }
}