.summaryTitle {
  font-weight: bold;
  text-wrap: wrap;
}

.summary {
  width: 80vw;
  margin: auto;
  text-wrap: wrap;
  padding: 5px;
}

/* For Mobile */
@media (max-width: 850px) {
  .summaryTitle {
    width: 80vw;
    margin: auto;
  }
}