.app {
  background-image: url("./images/sanhua.png");
  background-size: cover;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 16px;
}

.container:hover {
  background-color: white;
  transition: all 0.3s ease;
}

.content {
  text-align: center;
}