.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 8px;
}

.language {
  display: flex;
  justify-content: space-between;
  padding: 4px;
}

.content {
  text-align: center;
  margin: 10px;
}

.footer {
  display: flex;
  color: #000000;
  justify-content: space-between;
  padding-inline-start: 2.5vw;
  padding-inline-end: 2.5vw;
}

.footerLine {
  background-color: grey;
  width: 95vw;
  height: 1px;
  margin: auto;
}

.copyright {
  text-decoration: none;
  margin: none;
  color: grey;
  font-size: x-small;
}