.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 8px;
}

.language {
  display: flex;
  justify-content: space-between;
  padding: 4px;
}

.content {
  text-align: center;
}

.footer {
  display: flex;
  /* background-color: black; */
  color: #000000;
  padding: 16px;
  justify-content: space-evenly;
  transition: all 0.2s ease;
}

/* .footer:hover {
  background-color: #ffffff;
  color: #000000;
  transition: all 0.2s ease;
} */

.footerLine {
  background-color: grey;
  width: 80vw;
  height: 1px;
  margin: auto;
}